<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet"/>
                                                                    

<!--
  <h1>Login</h1>
  <form action="{{ url_for('login') }}" method="post">
      {{ form.hidden_tag() }}
      {{ form.username.label }}
      {{ form.username }}
      {{ form.password.label }}
      {{ form.password }}
      {{ form.remember_me.label }}
      {{ form.remember_me }} 
      {{ form.submit }}
  </form>
-->



    <div class="container">

      <form class="form-signin" method="post" action="{{ url_for('login') }}">
        <h2 class="form-signin-heading">Please sign in</h2>

<!--        <label for="inputPassword" class="sr-only">Password</label>-->
                {{ form.password.label(class_="sr_only", for_="inputPassword") }}
<!--        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
                {{ form.password(class_="form-control", id="inputPassword", placeholder="Password") }}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
<!--              {{ form.remember_me }}<span>Remember me</span>-->
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock %}
