{% extends "base.html" %}

{% block include %}
<link href="{{ url_for('static', filename='css/manage_blog.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if post %}
    {% set action = url_for(action, url_title=post['url_title']) %}
    <div id="entry"><h1>Edit entry</h1></div>
{% else %}
    {% set action = url_for(action) %}
    <div id="entry"><h1>Create entry</h1></div>
{% endif %}
<hr/>
<div class="container">
    {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
   <form action="{{ action }}" method=post class="form-horizontal" onsubmit="return validate();">
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                {% if post %}
                <input class="form-control" id="title" name="title" type="text" value="{{ post['title'] }}" onfocus="removeTips(this)"/>
                  <span id="e_title"></span>
                {% else %}
                <input class="form-control" id="title" name="title" type="text" onfocus="removeTips(this)"/>
                  <span id="e_title"></span>
                {% endif %}
              </div>
            </div>
       
            <div class="form-group">
              <label for="url_title" class="col-sm-2 col-form-label">URL_Title</label>
              <div class="col-sm-10">
                {% if post %}
                <input class="form-control" id="url_title" name="url_title" type="text" value="{{ post['url_title'] }}" readonly="readonly">
                {% else %}
                  <input class="form-control" id="url_title" name="url_title" type="text" onfocus="removeTips(this)"/>
                  <span id="e_url_title"></span>
                {% endif %}
              </div>
            </div>
       
            <div class="form-group">
              <label for="tags" class="col-sm-2 col-form-label">Tags</label>
              <div class="col-sm-10">
                {% if post %}
                <input class="form-control" id="tags" name="tags" type="text" value="{{ post['tags'] }}" onfocus="removeTips(this)"/>
                  <span id="e_tags"></span>
                {% else %}
                <input class="form-control" id="tags" name="tags" type="text" onfocus="removeTips(this)"/>
                  <span id="e_tags"></span>
                {% endif %}
              </div>
            </div>
       
            <div class="form-group">
              <label for="Content" class="col-sm-2 col-form-label">Abstract</label>
              <div class="col-sm-10">
                {% if post %}
                <textarea class="form-control" id="abstract" name="abstract" style="height: 100px;">{{ post['abstract'] }}</textarea>
                {% else %}
                <textarea class="form-control" id="abstract" name="abstract" style="height: 100px;"></textarea>
                {% endif %}
              </div>
            </div>
       
            <div class="form-group">
              <label for="Content" class="col-sm-2 col-form-label">Content</label>
              <div class="col-sm-10">
                {% if post %}
                <textarea class="form-control" id="content" name="content" style="height: 300px;" onfocus="removeTips(this)">{{ post['content'] }}</textarea>
                  <span id="e_content"></span>
                {% else %}
                <textarea class="form-tontrol" id="content" name="content" style="height: 300px;" onfocus="removeTips(this)"></textarea>
                  <span id="e_content"></span>
                {% endif %}
              </div>
            </div>
       
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input name="published" type="checkbox" value="y"> Published?
                  </label>
                </div>
              </div>
            </div>
       
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="bttn"><input type="submit" value="Save"></div>
                <div class="bttn" id="cancel"><a href="{{ url_for('index') }}">Cancel</a></div>
              </div>
            </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/manage_blog.js') }}"></script>
{% endblock %}